<h2>Add Employee</h2>

<form [formGroup]="addEmployee" (ngSubmit)="addEmployees()">
	<div class="form-group">
		<label>Enter Id</label>
		<input formControlName="employeeId" class="form-control" type="number" name="id">
	</div>
	<div class="form-group">
		<label>FirstName</label>
		<input formControlName="firstName" class="form-control" type="textbox" name="id">
	</div>
	<div class="form-group">
		<label>LastName</label>
		<input formControlName="lastName" class="form-control" type="textbox" name="id">
	</div>
	<div class="form-group">
		<label>Age</label>
		<input formControlName="age" class="form-control" type="textbox" name="id">
	</div>
	<div class="form-group">
		<label>Role</label>
		<input formControlName="role" class="form-control" type="textbox" name="id">
	</div>
	<button class="btn btn-primary" type="submit">Add Employee</button>

</form>