<h2>All Employees</h2>
<button routerLink = "allEmployees/addEmployee" class="btn btn-primary">Add Employee</button>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <td>Employee Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let employee of employees">
        <td>{{ employee.employeeId }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.age }}</td>
        <td title="Delete" (click)="deleteEmployee(employee)">X</td>
      </tr>
    </tbody>
  </table>
</div>

<button class="btn btn-primary mr-2" [disabled] = "isAdmins" (click)="getAdmins()">Show Admins</button>
<button class="btn btn-primary mr-2" [disabled] = "isDevelopers" (click)="getDevelopers()">Show Developers</button>

<div class="ml-4 table-responsive">
  <table class="table">
    <thead>
      <tr >
        <td>{{keyss[0]}}</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Role</td>
      </tr>
    </thead>
    <tbody *ngIf="isAdmins">
      <tr *ngFor="let employee of admins">
         <td>{{ employee.employeeId }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.role }}</td>
      </tr>
    </tbody>
    <tbody *ngIf="isDevelopers">
      <tr *ngFor="let employee of developers">
         <td>{{ employee.employeeId }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.role }}</td>
      </tr>
    </tbody>
  </table>
</div>