<h2>Add Employee</h2>
<br><br>

<form [formGroup] = "addEmployee" (ngSubmit)="newEmployee()">
	<div class="form-group">
		<label>Enter Id</label>
		<input formControlName = "employeeId" type="number" class="form-control">
	</div>
	<div class="form-group">
		<label>First Name</label>
		<input formControlName = "firstName" type="text" class="form-control">
	</div>
	<div class="form-group">
		<label>Last Name</label>
		<input formControlName = "lastName" type="text" class="form-control">
	</div>
	<div class="form-group">
		<label>Department</label>
		<input formControlName = "department" type="text" class="form-control">
	</div>
	<button type="submit" [disabled]="!addEmployee.valid" class="btn btn-primary mr-2">Add Employee</button>
	<button type="button" class="btn btn-secondary mr-2" (click) = "cancel()">Cancel</button>
</form>