<h2>All Employees</h2>
<br><br>
<button routerLink = "allEmployees/addEmployee" class="btn btn-primary mb-2 float-sm-right">Add Employee</button>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr *ngIf="meta.length>0">
				<td>{{ meta[0] | camelCaseToRegular }}</td>
				<td>{{ meta[1] | camelCaseToRegular }}</td>
				<td>{{ meta[2] | camelCaseToRegular }}</td>
				<td>{{ meta[3] | camelCaseToRegular }}</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let employee of employees">
				<td>{{ employee.employeeId }}</td>
				<td>{{ employee.firstName }}</td>
				<td>{{ employee.lastName }}</td>
				<td>{{ employee.department }}</td>
				<td (click) = "delete(employee)">X</td>
			</tr>
		</tbody>
	</table>
</div>

<button class="btn btn-primary mr-2" [disabled]="isAdmin" (click) = "showAdmins()">Show Admins</button>
<button class="btn btn-primary mr-2" [disabled]="isDeveloper" (click) = "showDevelopers()">Show Developers</button>
<div class="table-responsive ml-2">
	<table class="table">
		<thead>
			<tr *ngIf="meta.length>0">
				<td>{{ meta[0] | camelCaseToRegular }}</td>
				<td>{{ meta[1] | camelCaseToRegular }}</td>
				<td>{{ meta[2] | camelCaseToRegular }}</td>
				<td>{{ meta[3] | camelCaseToRegular }}</td>
			</tr>
		</thead>
		<tbody *ngIf="isAdmin">
			<tr *ngFor="let admin of admins">
				<td>{{ admin.employeeId }}</td>
				<td>{{ admin.firstName }}</td>
				<td>{{ admin.lastName }}</td>
				<td>{{ admin.department }}</td>
			</tr>
		</tbody>
		<tbody *ngIf="isDeveloper">
			<tr *ngFor="let developer of developers">
				<td>{{ developer.employeeId }}</td>
				<td>{{ developer.firstName }}</td>
				<td>{{ developer.lastName }}</td>
				<td>{{ developer.department }}</td>
			</tr>
		</tbody>
	</table>
</div>